NEBIUS_API_KEY=v1.CmQKHHN0YXRpY2tleS1lMDBxeXN2eWFxNTY1cW0yYmsSIXNlcnZpY2VhY2NvdW50LWUwMHdtMXYzajc5dmRmcWIwZjIMCLLTmNQGEMbL0YADOgwIsdawnwcQwOqXogNAAloDZTAw.AAAAAAAAAAH1EdelJ1JUZDCawoBae0GPO-9WECogW9IMyKz7dTzZQG63ks3fuRCupI_jDwt--4mpUHeAfkVvd-rc_NcNalsC
NEBIUS_BASE_URL=https://api.tokenfactory.us-central1.nebius.com/v1/
NEBIUS_MODEL=nvidia/Nemotron-3_5-Lightning
